

{{#> navbarLayout}}
  {{#*inline "mainContent"}}
    <div class="thumbnail-list">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
      <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
    </div>
    <nav class="pagination-wrapper" aria-label="pagination">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">上一页</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">
            1
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">下一页</a>
        </li>
      </ul>
    </nav>
  {{/inline}}
{{/navbarLayout}}

