{{!-- 使用 ./partials/default-layout.hbs 布局 --}}

{{#> defaultLayout}}
  {{#*inline "page"}}
    <nav class="navbar navbar-light justify-content-center">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">宠物</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">美景</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">女神</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">username</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <ul class="feed-list">
        <li class="feed-item">
          <p class="text">这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述</p>
          <div class="thumbnail-list">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          </div>
        </li>

        <li class="feed-item">
          <p class="text">这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述</p>
          <div class="thumbnail-list">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
            <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          </div>
        </li>
      </ul>
      <p class="tips">每天显示2条内容，定时更新...</p>
    </div>
  {{/inline}}
{{/defaultLayout}}

