
{{#> navbarLayout}}
  {{#*inline "mainContent"}}
    <ul class="feed-list">
      <li class="feed-item">
        <p class="text">这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述</p>
        <div class="thumbnail-list">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
        </div>
      </li>

      <li class="feed-item">
        <p class="text">这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述这是一段很长很长的描述</p>
        <div class="thumbnail-list">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
          <img class="thumbnail" src="https://wx3.sinaimg.cn/thumb150/63eb5b8dgy1fumw7vt38zj21j4328kjl.jpg">
        </div>
      </li>
    </ul>
    <p class="tips">每天显示2条内容，定时更新...</p>

  {{/inline}}
{{/navbarLayout}}

main
