

{{#> navbarLayout}}
  {{#*inline "mainContent"}}
    <form>
      <div class="form-group">
        <textarea class="form-control" id="text" rows="3" placeholder="文本内容..."></textarea>
      </div>
      <div class="form-group">
        <input type="file" class="form-control-file" id="picture-1">
        <input type="file" class="form-control-file" id="picture-2">
        <input type="file" class="form-control-file" id="picture-3">
        <input type="file" class="form-control-file" id="picture-4">
        <input type="file" class="form-control-file" id="picture-5">
        <input type="file" class="form-control-file" id="picture-6">
        <input type="file" class="form-control-file" id="picture-7">
        <input type="file" class="form-control-file" id="picture-8">
        <input type="file" class="form-control-file" id="picture-9">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">发布</button>
      </div>
    </form>
    {{> blogList}}
    {{> pagination}}
  {{/inline}}
{{/navbarLayout}}

