

{{#> navbarLayout}}
  {{#*inline "mainContent"}}
    <form>
      <div class="form-group">
        <textarea class="form-control" id="text" rows="3" placeholder="文本内容..."></textarea>
      </div>
      <div id="image-uploader-container" class="form-group">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">发布</button>
      </div>
    </form>
    {{> blogList}}
    {{> pagination}}
  {{/inline}}
{{/navbarLayout}}

