{{!-- 使用 ./partials/default-layout.hbs 布局 --}}

{{#> defaultLayout}}
  {{#*inline "page"}}
    <h1>用户列表</h1>
    <ul>
      <li><a href="/users/Daifee">Daifee</a></li>
      <li><a href="/users/Kidney">Kidney</a></li>
      <li><a href="/users/Ghost">Ghost</a></li>
    </ul>
  {{/inline}}
{{/defaultLayout}}

