
.container {
  overflow: hidden;
}

.thumbnail-list {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;

  .thumbnail-item {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
  }
}

