


{{#if list.length}}
<ul class="blog-list">
  {{#each list}}
  <li class="blog-item">
    <p class="text">{{text}}</p>
    <ul class="thumbnail-list">
      {{#each pictureUrls}}
      <li class="thumbnail-item" data-url="{{@this}}" style="background-image: url({{@this}})"></li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
{{else}}
<p style="text-align: center; padding: 20px;">没有内容...</p>
{{/if}}
