

<ul class="blog-list">
  {{#each list}}
  <li class="blog-item">
    <p class="text">{{text}}</p>
    <ul class="thumbnail-list">
      {{#each pictureUrls}}
      <li class="thumbnail-item" style="background-image: url({{@this}})"></li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
