

<nav class="pagination-wrapper" aria-label="pagination">
  <ul class="pagination">
    {{#if prevPageUrl}}
    <li class="page-item">
      <a class="page-link" href="{{prevPageUrl}}">上一页</a>
    </li>
    {{else}}
    <li class="page-item disabled">
      <span class="page-link">上一页</span>
    </li>
    {{/if}}
    <li class="page-item disabled">
      <span class="page-link">
        {{page}}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{nextPageUrl}}">下一页</a>
    </li>
  </ul>
</nav>
